input[type='file']{
    display: none;
}

#imgPreview {
    width: 100%;
    background-color: #eee;
    cursor: pointer;
    transition: background .3s;
    place-self: center;
    max-height: inherit;
    border-radius: 20px;
    max-height: 130px;
}

    #imgPreview:hover {
        opacity: 0.9;
    }

.imagem-containter {
    width: 150px;
    max-width: 150px;
    max-height: 135px;
    border: 2px solid #808080;
    background-color: #dbdbdb;
    height: 100%;
    min-height: 135px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}