@model GoogleMapsModel

<link rel="stylesheet" href="~/css/style-google-maps.css" />

<p>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Centralizar" onclick="centrarlizarLocalizacao()" />
    </div>
</p>

<div id="googleMap"></div>

<script>
    let map;
    let geocoder;
    let marker;

    function initMap() {
        map = new google.maps.Map(document.getElementById("googleMap"), {
            zoom: 13,
            mapTypeControl: false,
        });
        geocoder = new google.maps.Geocoder();

        marker = new google.maps.Marker({
            map,
        });
        const infoWindow = new google.maps.InfoWindow();
        debugger
        function Marker(id, lat, lng) {
            this.id = id;
            this.position = new Position(lat, lng);

            function Position(lat, lng) {
                this.lat = lat;
                this.lng = lng;
            }
        }
        let markers = [];
        @foreach(var marker in Model.PontosDeSensoriamentosMarkers)
        {
            <text>
                markers.push(new Marker(@marker.Id, @marker.Location.Lat, @marker.Location.Lng))
            </text>
        }
        markers.forEach((markerAtual, i) => {
            const marker = new google.maps.Marker({
                position: { lat: markerAtual.position.lat, lng: markerAtual.position.lng },
                map,
                title: `Vizualizar Dashboard`,
                label: `S`,
                optimized: false,
            });

            const cityCircle = new google.maps.Circle({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: { lat: markerAtual.position.lat, lng: markerAtual.position.lng },
                radius: 1000
                ,
            });

            marker.addListener("click", () => {
                infoWindow.close();
                infoWindow.setContent(`<a href="https://localhost:44367/Home/SobreNos/${markerAtual.id}" class="btn btn-info" target="blank">Ver Dados em Tempo Real</a>`);
                infoWindow.open(marker.getMap(), marker);
            });
        });

        centrarlizarLocalizacao()
    }

    function geocode(request) {
        geocoder
            .geocode(request)
            .then((result) => {
                const { results } = result;

                map.setCenter(results[0].geometry.location);
                return results;
            })
            .catch((e) => {
                alert("Geocode was not successful for the following reason: " + e);
            });
    }

    function centrarlizarLocalizacao() {
        geocode({ address: '@Model.EnderecoCentral' })
    }

    window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmKEgJE1bL32pc7W8MudLTLQ2I1seN0VQ&callback=initMap"></script>


