@model EditarDadosPessoaisViewModel

@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form id="form-editar-dados-pessoais" asp-action="SalvarDadosPessoais" asp-route-id="@Model.Id" onsubmit="return salvarAjax(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label text-primary"></label>
                <input asp-for="NomeCompleto" class="form-control form-control-sm" placeholder="Nome Completo" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-primary"></label>
                <input asp-for="Email" class="form-control form-control-sm" placeholder="Email" />         
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label text-primary"></label>
                <input asp-for="Senha" class="form-control form-control-sm" placeholder="Senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>              
            </div>
            <div class="modal-footer" style="padding: 10px 0 0px; margin-top: 40px;">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
