@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Usuários";
}


    
<h4 class="text-primary pt-3">@ViewData["Title"]</h4>

<div id="pv-pesquisa-avancada-usuarios" class="my-3">
    @await Html.PartialAsync("_FormPesquisaAvancadaUsuarios", new PesquisaAvancadaUsuariosViewModel())
</div>

<div id="pv-listar-usuarios">
    @await Html.PartialAsync("_ListarUsuarios", Model)
</div>

@section Scripts {
    <script src="~/js/configurations.js"></script>
}
