<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avisa Enchente!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom-bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/lib/fa-icons/all.min.css" />
    <link rel="stylesheet" href="/lib/sweet-alert/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap-table/dist/bootstrap-table.min.css" />
</head>
<body>
    @{
        var userRole = User?.FindFirst(c => c.Type == ClaimTypes.Role)?.Value;
    }
        @if ((string)ViewData["Title"] != "Página Inicial" || User.Identity.IsAuthenticated)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="z-index: 1;">
                    <div class="container">
                        <a class="navbar-brand text-primary font-weight-bold" asp-area="" asp-controller="Home" asp-action="PaginaApresentacao">Avisa Enchente!</a>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        }
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1 justify-content-end">
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <li class="nav-item mr-3">
                                        <a class="nav-link text-primary nav-link-text" id="index" asp-controller="Home" asp-action="PaginaApresentacao">Inicio</a>
                                    </li>

                                    <li class="nav-item mr-3">
                                        <a class="nav-link text-primary nav-link-text" id="sobre-nos" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
                                    </li>
                                    <li class="nav-item mr-3">
                                        <a class="nav-link text-primary nav-link-text" id="como-funciona" asp-controller="Home" asp-action="ComoFunciona">Como Funciona?</a>
                                    </li>

                                    if (userRole == ETipoUsuario.Admin.GetDescription())
                                    {
                            <li class="nav-item dropdown mr-3 text-primary ">
                                <a class="nav-link dropdown-toggle text-primary" id="configuracoes" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-gear"></i> Configurações
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link-dropdown" asp-controller="Usuario" asp-action="Index"><i class="fa-solid fa-users-gear pr-2"></i>Usuários</a>
                                    <a class="dropdown-item nav-link-dropdown" asp-controller="PontoDeSensoriamento" asp-action="Index"><i class="fa-solid fa-users-gear pr-2"></i>Pontos de Sensoriamento</a>
                                </div>
                            </li>
                                    }

                                    <li class="nav-item dropdown meu-perfil-button">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMeuPerfilLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0">
                                            <img src="/img/image.png" width="40" height="40" id="meu-perfil-image" class="rounded-circle">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMeuPerfilLink">
                                            <a class="dropdown-item nav-link-dropdown" asp-controller="Usuario" asp-action="MeuPerfil"><i class="fa-solid fa-user pr-2"></i> Meu Perfil</a>
                                            <a class="dropdown-item nav-link-dropdown" asp-controller="Conta" asp-action="Logout" title="Sair"><i class="fa-solid fa-arrow-right-from-bracket fa-sm pr-2"></i> Sair</a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </nav>
            </header>
        }
        <div class="container">
            <partial name="_NotificationPartial" />
            <main class="pb-3" role="main">
                @RenderBody()
            </main>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-primary">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                </div>
            </div>
        </div>


        @if ((string)ViewData["Title"] != "Página Inicial" || User.Identity.IsAuthenticated)
        {
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - Avisa Enchente! - <a asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
                </div>
            </footer>
        }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fa-icons/all.js"></script>
    <script src="~/lib/sweet-alert/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
