@{
    ViewData["Title"] = "Como Funciona?";
}

<h3 class="text-primary pt-3">@ViewData["Title"]</h3>

@section Scripts {
    <script>
        window.addEventListener('load', function () {

            $('#index').removeClass('active');
            $('#sobre-nos').removeClass('active');
            $('#como-funciona').addClass('active');
            $('#meu-perfil-image').removeClass('active');
            $('#configuracoes').removeClass('active');

        });
    </script>
}