@{
    ViewData["Title"] = "Como Funciona?";
}

<h3 class="text-primary">@ViewData["Title"]</h3>

@section Scripts {
    <script>
        window.addEventListener('load', function () {

            $('#Index').removeClass('active');
            $('#SobreNos').removeClass('active');
            $('#ComoFunciona').addClass('active');
            $('#MeuPerfil').removeClass('active');

        });
    </script>
}