
@{
    ViewData["Title"] = "Página Inicial";
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
<div class="pt-3">
    <h4 class="text-primary mb-2">Bem Vindo, @User?.Identity?.Name.Split(" ")[0]!</h4>
    @await Component.InvokeAsync("GoogleMaps")
</div>
}

@section Scripts {
    <script src="~/js/pagina-inicial.js"></script>
}