@{
    ViewData["Title"] = "Sobre Nós";
}

<h3 class="text-primary pt-3">@ViewData["Title"]</h3>

<p>Daniel Santos de Sousa RA: 081200021</p>


@section Scripts {
    <script>
        window.addEventListener('load', function () {

            $('#index').removeClass('active');
            $('#sobre-nos').addClass('active');
            $('#como-funciona').removeClass('active');
            $('#meu-perfil-image').removeClass('active');
            $('#configuracoes').removeClass('active');

        });
    </script>
}
