@{
    ViewData["Title"] = "Sobre Nós";
}

<h3 class="text-primary pt-3">@ViewData["Title"]</h3>

<p>Abrão Astério Junior RA: 081200035</p>
<p>Alexandre Bezerra RA: 081200034</p>
<p>Cayo Vinicius RA: 081200050</p>
<p>Daniel Santos de Sousa RA: 081200021</p>
<p>Francisco Silveira RA: 081200018</p>


@section Scripts {
    <script>
        window.addEventListener('load', function () {

            $('#index').removeClass('active');
            $('#sobre-nos').addClass('active');
            $('#como-funciona').removeClass('active');
            $('#meu-perfil-image').removeClass('active');
            $('#configuracoes').removeClass('active');

        });
    </script>
}
