@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Daniel Santos de Sousa RA: 081200021</p>


@section Scripts {
    <script>
        window.addEventListener('load', function () {

            $('#Index').removeClass('active');
            $('#SobreNos').addClass('active');
            $('#ComoFunciona').removeClass('active');
            $('#MeuPerfil').removeClass('active');

        });
    </script>
}