@model CriarEditarParametrosNotificacaoViewModel
@{
    ViewData["Title"] = "Parametros de Notificação";
}

<div class="row">
    <div class="col-md-12 py-2">
        <form method="post" asp-action="SalvarParametrosNotificacao">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="pt-3">
                <h5 class="text-primary pt-1">Parametros de Notificação</h5>
            </div>
            <input type="hidden" asp-for="PontoDeSensoriamentoId" />

            @for (int i = 0; i < Model.ParametrosNotificacaoModel.Count; i++)
            {
                <input type="hidden" asp-for="ParametrosNotificacaoModel[i].TipoRisco" />
                <input type="hidden" asp-for="ParametrosNotificacaoModel[i].Id" />
                <input type="hidden" asp-for="ParametrosNotificacaoModel[i].PontoDeSensoriamentoId" value="@Model.PontoDeSensoriamentoId" />
                <div class="card my-3">
                    <div class="card-header text-primary" style="font-weight: 500;">
                        <a class="btn-header-card" data-toggle="collapse" href="#collapse@(Model.ParametrosNotificacaoModel[i].TipoRisco)" role="button" aria-expanded="false" aria-controls="collapse@(Model.ParametrosNotificacaoModel[i].TipoRisco)">
                            @Model.ParametrosNotificacaoModel[i].TipoRisco.GetDescription()
                        </a>
                    </div>
                    <div class="collapse" id="collapse@(Model.ParametrosNotificacaoModel[i].TipoRisco)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-primary">Velocidade do Rio (km/h)</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm decimal-input" placeholder="Velocidade do Rio" asp-for="ParametrosNotificacaoModel[i].VazaoDaAgua" />
                                        </div>
                                        <span asp-validation-for="ParametrosNotificacaoModel[i].VazaoDaAgua" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-primary">Nível do Rio (cm)</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm decimal-input" placeholder="Nível do Rio" asp-for="ParametrosNotificacaoModel[i].AlturaAgua" />
                                        </div>
                                        <span asp-validation-for="ParametrosNotificacaoModel[i].AlturaAgua" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label text-primary">Intensidade da Chuva</label>
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control form-control-sm decimal-input" placeholder="Intensidade da Chuva" asp-for="ParametrosNotificacaoModel[i].NivelPluviosidade" />
                                        </div>
                                        <span asp-validation-for="ParametrosNotificacaoModel[i].NivelPluviosidade" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="row mt-3">
                <div class="col-md-6">
                    <a type="button" class="btn btn-outline-secondary" style="width: 100%; max-width: 5rem; font-size: 1rem; text-align: center" asp-controller="PontoDeSensoriamento" asp-action="Detalhes" asp-route-id="@Model.PontoDeSensoriamentoId">Voltar</a>
                </div>
                <div class="col-md-6 text-end">
                    <input type="submit" value="Salvar" class="btn btn-primary" style="width: 100%; max-width: 15rem; font-size: 1rem; text-align: center" />
                </div>
            </div>
        </form>
    </div>
</div>
